################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookFinderApp/v16
/obj
.gitignore
/.vs/BookFinderApp/DesignTimeBuild
/bin/Debug/netcoreapp3.1
